* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eef6ff; /* azul bem clarinho */
}

.app {
    display: flex;
    height: 100vh;
}

/* barra lateral de amigos */
.sidebar {
    width: 280px;
    background: linear-gradient(180deg, #2BB6D6, #7B3FE4); /* degradê do logo */
    color: white;
    display: flex;
    flex-direction: column;
}

/* perfil  */
.profile 
{
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.avatar 
{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-right: 15px;
}

.info h3 
{
    font-size: 16px;
}

.info p 
{
    font-size: 12px;
    color: #d4fffa; /* azul claro */
}

/* amigos */
.friends 
{
    flex: 1;
    overflow-y: auto;
}

.friend 
{
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    cursor: pointer;
    transition: 0.3s;
}

.friend:hover 
{
    background-color: rgba(255,255,255,0.15);
}

/* ÁREA CHAT */
.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8fbff; /* azul bebê suave */
}

/* TOPO CHAT */
.chat-header {
    padding: 20px;
    background: linear-gradient(90deg, #2BB6D6, #7B3FE4);
    color: white;
    border-bottom: none;
}

/* MENSAGENS */
.chat-messages {
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

/* INPUT */
.chat-input 
{
    display: flex;
    padding: 15px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.chat-input textarea 
{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    min-height: 50px;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    transition: height 0.1s ease;
}

.chat-input button 
{
    margin-left: 10px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #2BB6D6, #7B3FE4);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.chat-input button:hover 
{
    opacity: 0.85;
}